body {
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header {
  background-color: #e91e63;
  padding: 1em;
  margin-bottom: 1em;
}

h1 {
  margin: 0;
}

main {
  width: 90%;
  margin: auto;
}

section {
  background-color: #ffffff29;
  padding: .5em;
  margin-bottom: 1em;
  box-shadow: 1px 1px 9px -1px #ffffff91;
  border-radius: 9px;
}

th {
  text-align: left;
}


