body {
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header {
  background-color: #e91e63;
  padding: 1em;
  margin-bottom: 1em;
}

h1 {
  margin: 0;
}

main {
  width: 90%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
}

section {
  background-color: #ffffff29;
  padding: .5em;
  margin-bottom: 1em;
  box-shadow: 1px 1px 4px -1px #e91e63;
  border-radius: 9px;
}

th {
  text-align: left;
}

.is-read-true {
  background: #00968833 !important;
}

#dance {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 275px;
}

#dance img {
  width: 50px;
}


